*.csproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pidb.meta

csharp/
csproj/BuildProtocol/csharp/
csproj/BuildProtocol/obj/
csproj/BuildProtocol/bin/Release/Protocol.dll
csproj/BuildProtocol/bin/Release/ProtoSerializer.dll
output/

log.txt
tool/

__pycache__/